.memory{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

.memory.disable{
  pointer-events: none;

}
.buttonClass{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: 2vh;
}

.btn{
  opacity: 0.6;
  transform: opacity 0.2s, transform 0.2s;
}

.btn.active {
  opacity: 1;
  transform: scale(1.1);
}