html{
  background-color: #1F2022;
}
.clickArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28vh;
  padding: 1rem;
  border: 1px solid #ccc;
}

.counter{
  display: flex;
  background-color: "white";
  text-align: center;
  display: "flex";
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border: 1px solid black
}

.CountAnimate{

  animation-name: Back-ground;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.funArea{
  display: grid;
  grid-template-columns: 50% 50% ;
}
.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}.btn-main{
  width: 15vw;
  height: 15vh;
}
.openText{
  text-align: center;
}

.videoArea{
  margin-top: 10px;
}

@keyframes Back-ground{
  0% {
    background-color: red;
  }
  50%{
    background-color: green;
  }
  100%{
    background-color: yellow;
  }
}