html{
  background-color: #1F2022;
}
.clickArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 1rem;
  border: 1px solid #ccc;
}
.CountAnimate{

  animation-name: Test;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.videoTimer{
  display: grid;
  grid-template-columns: 50% 50% ;
}
.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.openText{
  text-align: center;
}

.videoArea{
  margin-top: 10px;
}

@keyframes Test{
  0% {
    background-color: red;
  }
  50%{
    background-color: green;
  }
  100%{
    background-color: yellow;
  }
}